html,body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
header {
	height: 90px;
	background-color: darkblue;
	color:  white;
}
aside{
	display:  inline-block;
	width: 20%;
	float: left;
	background-color: lightsteelblue;
	height: 100%;
}
main {
	width: 80%;
	height: 100%;
	display: inline-block;
	background-color: #dcdcdc;
}

div.parte1 {
	height: 11%;
	background-color: #dcdcdc;
}
div.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
button.button {
	min-width: 30px;
	min-height: 30px;
	margin: 10px 10px 10px 10px;
	font-family: emoji;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	background: #00f4f5;
	background: linear-gradient(90deg, rgba(129,230,217,1) 0%, #00f4f5 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
}
button.button::before {
	content: '';
	border-radius: 1000px;
	min-width: calc(150px + 12px);
	min-height: calc(40px + 12px);
	border: 6px solid #00f4f5;
	box-shadow: 0 0 60px rgba(0,255,203,.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s ease-in-out 0s;
}

button.button:hover, 
button.button:focus { color: black; transform: translateY(-6px); }

button.button:hover::before, 
button.button:focus::before { opacity: 1; }

button.button::after {
  content: '';
  width: 32px; height: 32px;
  border-radius: 100%;
  border: 6px solid #00f4f5;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring .5s infinite;
}

button.button:hover::after,
button.button:focus::after { animation: none; display: none; }

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 210px;
    height: 85px;
    opacity: .5;
  }
}


section.modal {
	display: none;
	position: absolute;
	left: 252px;
	top: 89px;
	width: 80%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	background-color: rgba(0,0,0,0.4);
}
section.modal-content {
  background-color: whitesmoke;
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border: 4px black solid;
  width: 80%;
  height: 80%;
}

span.close {
  color: black;
  float: right;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
}

section.close:hover,
section.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p.modal {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

div.row {
	margin:  0px 20px 20px 20px;
	padding: 0px 0px 0px 0px;
	display: block;
}
div.col50{
	margin: 20px 20px 0px 20px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	width: 15%;
}

div.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 120px;
	height: 205px;
	margin: auto;
	text-align: center;
	background-color: #00b0e6;
	}

img{
	width: 100%;
}

h2 {
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	color: black;
}

p.price {
	color: black;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
p.description {
	color: black;
	font-size: 10px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
button {
	margin: 5px 0px 0px 0px;
	font: 14px;
}
div.card button {
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

div.card button:hover {
  opacity: 0.7;
}


